.result {
    table {
        margin-bottom: 1rem;

        td {
            width: 33%;
        }
    }
    input {
        width: 80%;
        margin: 0 10%;
        margin-bottom: 1rem;
        font-size: 2rem;
        line-height: 3rem;
    }
}
